* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #77756f;
  font-weight: 300;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
}

h3,
h4 {
  font-weight: 400;
}

.container-template {
  width: 75%;
  margin: 0 auto;
  margin-top: 100px;
}

.box-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.box-categorie {
  width: 15%;
}
/* TIPOGRAPHY */

.roboto {
  font-family: 'Roboto', sans-serif;
}

.page-header {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2em;
}

.title-page {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  margin-top: 40px;
  margin-bottom: 5px;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.box-code {
  padding: 10px 50px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  border-radius: 5px;
}

code {
  margin: 0 50px;
}

/* COLORS */

.container-colors {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.box-colors {
  width: 200px;
  height: 100px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.color-1 {
  background-color: #333333;
}

.color-2 {
  background-color: #666666;
}

.color-3 {
  background-color: #77756f;
}

.color-4 {
  background-color: #999999;
}

.color-5 {
  background-color: #f3f3f3;
}

.name-color {
  font-size: 1em;
  font-weight: 200;
  margin: 25px;
  text-align: center;
  color: white;
}

.dark {
  color: #333333;
}

.options {
  color: #666666;
}

/* IMAGES */

.box-images {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
