* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #77756f;
  font-weight: 300;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
}

h3,
h4 {
  font-weight: 400;
}

.container {
  width: 75%;
  margin: 0 auto;
  margin-top: 100px;
}

/* TIPOGRAPHY */

.roboto {
  font-family: 'Roboto', sans-serif;
}

.page-header {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2em;
}

.title-page {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  margin-top: 40px;
  margin-bottom: 5px;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.box-code {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  border-radius: 5px;
}

code {
  margin: 0 50px;
}

/* COLORS */

.container-colors {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.box-colors {
  width: 200px;
  height: 100px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.color-1 {
  background-color: #333333;
}

.color-2 {
  background-color: #666666;
}

.color-3 {
  background-color: #77756f;
}

.color-4 {
  background-color: #999999;
}

.color-5 {
  background-color: #f3f3f3;
}

.name-color {
  font-size: 1em;
  font-weight: 200;
  margin: 25px;
  text-align: center;
  color: white;
}

.dark {
  color: #333333;
}

/* IMAGES */


/* NAVIGATION */

.nav-tabs {
  width: 100%;
  height: 40px;
  background-color: #333333;
  margin-bottom: 50px;
}

.nav-tabs ul {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.tabs a {
  color: white;
}

.tabs a:hover {
  color: #666666;
}

/* LISTS */

.box-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.options {
  color: black;
}

/* FORM */

.text-form {
  text-align: center;
}

.list-form {
  width: 300px;
  text-align: end;
  margin-bottom: 100px;
}

.list-form ul {
  text-align: center;
  padding: 0;
  list-style: none;
}

.input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 0;
  border-style: groove;
  border: 1px solid #666666;
  padding-left: 10px;
  margin-bottom: 15px;
}

.input::placeholder {
  color: #999999;
  font-size: 1.3em;
  font-weight: 200;
}


/* BUTTONS */

.btn {
  width: 80px;
  height: 40px;
  font-size: 1em;
  font-weight: 200;
  cursor: pointer;
  border-radius: 5px;
  border-style: hidden;
  background-color: #333333;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  background-color: #77756f;
}


/* FOOTER */

.footer {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #333333;
  color: white;
  text-align: center;
}

.nav-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.nav-heading {
  color: white;
  font-weight: 300;
}
