/* COLORS */
/* Tipografia */
/* Font-size */
* {
  box-sizing: border-box; }

ul,
ol {
  padding: 0;
  margin: 0; }

body {
  font-family: "Lato", sans-serif;
  color: #77756f;
  font-weight: 300;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh; }

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #f3f3f3;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 100%;
  grid-gap: 1em;
  grid-template-areas: "header" "content" "catalogue" "footer"; }

.row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.column {
  display: flex;
  flex-direction: column;
  align-items: center; }

.header {
  width: 100%;
  height: 60px;
  grid-area: header;
  background-color: #333333;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.sidebar {
  display: none; }

.content {
  grid-area: content;
  padding: 0 20px; }

@media only screen and (min-width: 500px) {
  .container {
    grid-template-rows: 60px auto;
    grid-template-columns: 25% auto;
    grid-gap: 1em;
    grid-template-areas: " header header" "sidebar catalogue" "sidebar content" "footer footer"; }

  .content {
    padding-right: 40px;
    padding-left: 20px; }

  .sidebar {
    display: inline;
    grid-area: sidebar;
    padding: 0 10px; } }
@media only screen and (min-width: 868px) {
  .container {
    grid-template-rows: 60px 40% 30%;
    grid-template-columns: 15% 40% 45%;
    grid-gap: 0.5em;
    grid-template-areas: "header header header" "sidebar catalogue content" "footer footer footer"; }

  .sidebar {
    padding: 0 15px; } }
@media only screen and (min-width: 1200px) {
  .container {
    grid-template-rows: 60px 40% 30%;
    grid-template-columns: 15% 26% 58%;
    grid-template-areas: "header header header" "sidebar catalogue content" "footer footer footer"; }

  .row {
    justify-content: space-between; } }
/* TIPOGRAPHY */
a {
  text-decoration: none;
  font-weight: 400; }

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif; }

h2,
h3,
h4 {
  font-weight: 400; }

/* MENU NAVIGATION */
.nav-tabs {
  width: 100%;
  height: 60px;
  display: none;
  background-color: #333333;
  margin-bottom: 50px; }
  .nav-tabs ul {
    padding: 0;
    margin: 0;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    list-style: none; }

.tabs a {
  color: white; }
  .tabs a:hover {
    color: #666666; }

.nav-tabs-small {
  width: 100%;
  top: 60px;
  text-align: center;
  display: none;
  position: absolute;
  background-color: #333333;
  transition: max-height 0.9s linear; }
  .nav-tabs-small li {
    margin: 15px 0; }
  .nav-tabs-small li a {
    color: white;
    margin: 10px 0; }

.nav-show {
  display: block; }

/* MENU CATEGORIES */
.nav-categories {
  transition: 0.9s;
  margin-top: 30px;
  background-color: #333333;
  top: 0px;
  right: 0px; }

.nav-small {
  list-style: none;
  color: white;
  margin: 0;
  padding: 0; }

.nav-small-link {
  color: white;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px; }
  .nav-small-link:hover {
    color: #999999; }

.subnav {
  padding: 5px 25px;
  list-style: none;
  display: none;
  background-color: #999999; }
  .subnav li {
    padding: 10px 0; }
  .subnav li a {
    color: white; }
    .subnav li a:hover {
      color: #666666; }

.subnav-img {
  width: 20px;
  transition: 300ms linear all; }

.subnav-img-rotate {
  transform: rotate(-180deg);
  transition: 200ms linear all; }

.subnav-show {
  max-height: 500px;
  display: block;
  transition: max-height 0.5s ease-in; }

@media only screen and (min-width: 500px) {
  .nav-tabs {
    display: block; }

  .nav-tabs-small {
    display: none; } }
/* FORM */
.text-form {
  text-align: center;
  font-weight: 400; }

.list-form {
  width: 300px;
  text-align: end;
  margin-top: 40px;
  margin-bottom: 40px; }
  .list-form ul {
    text-align: center;
    padding: 0;
    list-style: none; }

.input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 0;
  border-style: groove;
  border: 1px solid #666666;
  padding-left: 10px;
  margin-bottom: 15px; }
  .input::placeholder {
    color: #999999;
    font-size: 1.3em;
    font-weight: 200; }

form input:valid {
  border: 2px solid green;
  background-color: white; }

form input:focus:invalid {
  border: 2px solid red;
  background-color: white; }

.text-form {
  font-size: 1.33em;
  text-align: center; }

@media only screen and (min-width: 500px) {
  .list-form {
    width: 350px;
    margin-top: 0;
    margin-bottom: 20px; } }
/* FOOTER */
.footer {
  width: 100%;
  height: 100%;
  padding: 10px;
  grid-area: footer;
  text-align: center;
  background-color: #333333;
  color: white; }

.nav-footer {
  justify-content: space-around; }

.nav-heading {
  padding-left: 10px;
  padding-right: 10px; }
  .nav-heading li {
    padding: 10px 0; }

.link-heading {
  color: white; }

@media only screen and (min-width: 500px) {
  .footer {
    padding: 20px; }

  .nav-heading {
    padding-left: 40px;
    padding-right: 40px; }
    .nav-heading li {
      padding: 10px 0; } }
/* BUTTONS */
.btn-dark {
  width: 80px;
  height: 40px;
  font-size: 1em;
  font-weight: 200;
  cursor: pointer;
  border-radius: 5px;
  border-style: hidden;
  background-color: #333333;
  color: white;
  transition: 0.3s; }
  .btn-dark:hover {
    background-color: #77756f; }

.btn-menu {
  display: flex;
  width: 60px;
  background-color: transparent;
  border: none; }
  .btn-menu img {
    width: 100%; }

@media only screen and (min-width: 500px) {
  .btn-menu {
    display: none; } }
/* IMAGES */
.logo {
  width: 25%;
  height: 60px;
  background-color: white;
  text-align: center; }

.img-xs {
  width: 50px;
  height: 50px;
  margin: 15px;
  background-color: #666666; }

.img-small {
  width: 150px;
  height: 200px;
  margin: 15px;
  background-color: #666666; }

.img-medium {
  width: 300px;
  height: 200px;
  margin: 15px 0;
  background-color: #666666; }

@media only screen and (min-width: 500px) {
  .img-medium {
    width: 350px; }

  .logo {
    width: 30%; } }
@media only screen and (min-width: 868px) {
  .logo {
    width: 18%; } }
/* LAYOUTS PRODUCT */
.catalogue {
  grid-area: catalogue;
  text-align: center; }

/*# sourceMappingURL=page.css.map */
