/* COLORS */

$color-dark: #333333;
$color-primary: #666666;
$color-secondary: #77756f;
$color-terciary: #999999;
$color-ligth: #f3f3f3;
$color-white: white;
$color-black: black;

/* Tipografia */

$font-body: 'Lato', sans-serif;
$font-title: 'Roboto', sans-serif;

/* Font-size */

$Text-large: 2em;
$Text-medium: 1.5em;
$Text-normal: 1.33em;
$Text-small: 1.17em;
$Text-xsmall: 1em;
